



<custom-grid [columns]="gridColumns" [data]="membersData" ></custom-grid>



















<!-- <div class="resp-table">
  <div class="mytr">
    <div class="mytd " *ngFor="let memberColumn of memberColumns">
      <div class="claimColumns">{{memberColumn}}</div>
    </div>
  </div>
  <div class="mytr" *ngFor="let member of membersData">


      <div class="mytd">{{member.memberid}}</div>
      <div class="mytd">{{member.lastName}},{{member.firstName}}</div>
      <div class="mytd">{{member.HealthPlanName}}</div>
      <div class="mytd"> {{member.benefitOptionCode}}</div>
      <div class="mytd">{{member. benefitOptionActiveDate}}</div>
      <div class="mytd">{{member. benefitOptionExpiryDate}}</div>
      <div class="mytd">{{member.primaryCareProviderName}}</div>
      <div class="mytd">{{member.memberPcpFromDate}}</div>
      <div class="mytd">{{(member.memberPcpToDate)?member.memberPcpToDate:'Active'}}</div>


  </div>
</div> -->