<div class="aco-top-bar">
  <aco-top-bar></aco-top-bar>
</div>
<div class="flex aco-body" [class.minimize-nav]="isMinimized">
  <div class="aco-left-panel">
    <aco-left-panel></aco-left-panel>
  </div>
  <div class="aco-main-content">
    <router-outlet></router-outlet>
  </div>
  <div class="aco-right-panel">
    <aco-right-panel></aco-right-panel>
  </div>
  <div class="btn collapsable" (click)="isMinimized=!isMinimized"><i class="fas fa-bars"></i></div>
</div>
<div class="aco-bottom-bar">
  <aco-bottom-bar></aco-bottom-bar>
</div>
